{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wade Performance - Hlavní stránka</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/img/favicon/site.webmanifest' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="#" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Hlavní stránka</a></li>
          <li><a class="nav-link scrollto" href="#about">O nás</a></li>
          <li><a class="nav-link scrollto" href="#services">Služby</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Projekty</a></li>
          <li><a class="nav-link scrollto" href="#contact">Kontaktujte nás</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
      <h1>Vítej na stránkách Wade Performance</h1>
      <h2>Místo, kde se vášeň pro auta a motorky setkává s jednáním na rovinu a poctivostí</h2>
      <a href="#about" class="btn-get-started scrollto">O nás</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="Wade Performance">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Proč právě Wade Performance?</h3>
            <p>
              Wade Performance vznikl z vášně pro techniku a preciznost. Jmenuji se Ladislav Šimůnek, ale většina mě zná pod přezdívkou Wade. Jsem letecký mechanik, který se rozhodl věnovat úpravám a opravám aut a motocyklů. Mým cílem je nabídnout zákazníkům nejen kvalitní opravy, ale také individuální přístup a poctivou komunikaci.
            </p>
            <div class="row">
              <div class="col-md-6">
                <i class="bx bx-wrench"></i>
                <h4>Profesionální přístup</h4>
                <p>Každý projekt je pro nás výzvou. S precizností a důrazem na detail opravujeme a upravujeme všechna vozidla, ať už se jedná o klasické veterány nebo moderní stroje.</p>
              </div>
              <div class="col-md-6">
                <i class="bx bx-car"></i>
                <h4>Odbornost a zkušenosti</h4>
                <p>Díky mnohaletým zkušenostem v oblasti letecké techniky přenášíme nejvyšší standardy kvality do všech oprav a úprav automobilů a motocyklů.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->


      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Klientů</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="39" data-purecounter-duration="1" class="purecounter"></span>
            <p>Úspěšných Zakázek</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Osobní Projekty</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
            <p>Let Zkušeností</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Auto Services Section ======= -->
    <section id="services-auto" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Služby - Auto</h2>
          <p>Nabízíme komplexní servis pro vaše auto. Nabízíme širokou škálu služeb od oprav plastů, menších oprav laku až po hloubkové čištění interiérů a řešení elektroinstalace. Wade Performance se stará o vaše auto s důrazem na detail a kvalitu.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <i class="bx bx-wrench"></i>
              </div>
              <h4><a href="">Běžné opravy a servis</a></h4>
              <p>Specializujeme se na komplexní servis a opravy vašeho automobilu, od motoru po karoserii. Naše služby zahrnují detailní prohlídku vozu, řešení jakýchkoli problémů, opravy jednotlivých komponentů a pravidelnou údržbu, abychom zajistili optimální výkon a dlouhou životnost vašeho vozidla.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <i class="bx bx-car"></i>
              </div>
              <h4><a href="">Polepy plastů interiéru</a></h4>
              <p>Estetické vylepšení interiéru s ochrannými polepy.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange">
              <div class="icon">
                <i class="bx bx-gas-pump"></i>
              </div>
              <h4><a href="">Výměna provozních kapalin</a></h4>
              <p>Pravidelná výměna motorových olejů, chladicích kapalin a dalších důležitých náplní.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <i class="bx bx-paint"></i>
              </div>
              <h4><a href="">Menší opravy laku</a></h4>
              <p>Opravy drobných škrábanců a poškození laku na karoserii.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <i class="bx bx-wrench"></i>
              </div>
              <h4><a href="">Opravy plastů</a></h4>
              <p>Opravy poškozených plastových částí vašeho vozu.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <i class="bx bx-brush"></i>
              </div>
              <h4><a href="">Hloubkové čištění interiéru</a></h4>
              <p>Profesionální hloubkové čištění interiéru pro odstranění nečistot a zápachů.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-battery"></i>
              </div>
              <h4><a href="">Řešení závad elektroinstalace</a></h4>
              <p>Prohlídka a opravy elektrických závad v elektroinstalaci.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Auto Services Section -->

    <!-- ======= Moto Services Section ======= -->
    <section id="services-moto" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Služby - Moto</h2>
          <p>Nabízíme komplexní servis pro vaše motorky, včetně oprav plastů, lakování a montáže speciálního vybavení. Udržujeme váš stroj v perfektním stavu pro bezpečnou a spolehlivou jízdu. Wade Performance vám poskytne profesionální služby a osobní přístup.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <i class="bx bx-wrench"></i>
              </div>
              <h4><a href="">Běžné opravy a servis</a></h4>
              <p>Kompletní servis a opravy vašeho motocyklu, od motoru po kapotáž.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange">
              <div class="icon">
                <i class="bx bx-paint"></i>
              </div>
              <h4><a href="">Opravy plastů a laku</a></h4>
              <p>Opravy plastů a lakování pro zajištění perfektního vzhledu motocyklu.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <i class="bx bx-sticker"></i>
              </div>
              <h4><a href="">Polepy kapotáže</a></h4>
              <p>Vylepšení vzhledu a ochrana motorky pomocí kvalitních polepů.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <i class="bx bx-tachometer"></i>
              </div>
              <h4><a href="">Montáž quickshifterů</a></h4>
              <p>Montáž quickshifterů pro rychlé a plynulé řazení bez spojky.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <i class="bx bx-battery"></i>
              </div>
              <h4><a href="">Opravy elektroinstalace</a></h4>
              <p>Prohlídka a opravy elektroinstalace motocyklů.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-cube"></i>
              </div>
              <h4><a href="">Renovace starých motorek</a></h4>
              <p>Kompletní renovace starších nebo havarovaných motocyklů.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Moto Services Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title">
          <h2>Co o nás říkájí naši zákazníci</h2>
          <p>Naši klienti oceňují osobní přístup, preciznost a rychlost. Zde je pár slov od těch, kteří nám důvěřovali se svými automobily a motocykly:</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Zdravím. Z vlastní zkušenosti velice rád doporučím tuto firmu za skvělou práci s polepy na mé motorce, práce byla precizní a rychlá 👍🏻😎
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/josef_z.png' %}" class="testimonial-img" alt="">
                <h3>Josef Z.</h3>
                <h4>Polep motorky</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Na mém Superbu mi upadl zadní tlumič “uhnil”, tak jsem si řekl že nebudu utrácet zbytečně za nový kus a tak jsem se rozhodl že to uděláme jinak, že to uděláme více zábavný a tak jsem se ozval “WADE-PERFORMANCE”, aby mi s tím něco pěkného udělal. A taky udělal, udělal za mě nejlepší práci a vylezl z toho nejlepší výsledek, krásný zvuk, krásná práce a krásný zážitky při tvoření. Za mě super práce, super přístup a domluva, DOPORUČUJI !!
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/miroslav_ch.png' %}" class="testimonial-img" alt="">
                <h3>Miroslav Ch</h3>
                <h4>Úprava výfuku na Superbu</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Wade je úžasný a má na to prostě obrovský cit. Stačí když si sedne do auta a poslouchá a hned má tušení, kde by mohl být problém. Na mé killer Kia mi pomáhal řešit rozvody, našel mi problémy se spojkou, čepy, tyčky stabilizátorů, apod. Dále mi udělal úžasný detailing. Wade vřele doporučuji, je to jednička v tom, co dělá.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/petr_m.png' %}" class="testimonial-img" alt="">
                <h3>Petr M.</h3>
                <h4>Detailing, rozvody a zákládní údržba</h4>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Přehled našich projektů a úprav na autech a motorkách. Vyberte si projekt a podívejte se na naše detailní práce.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter=".filter-highlight" class="filter-active">Všechny projekty</li>
              <li data-filter=".filter-project-1">HYOSUNG GT125R Limited edition (2019)</li>
              <li data-filter=".filter-project-2">Chrysler Stratus Cabrio 2.0i (2021)</li>
              <li data-filter=".filter-project-3">Suzuki GSXR 1000 K3 Yoshimura (2022)</li>
              <li data-filter=".filter-project-4">AUDI A8 D3 3.7i (2022-2024)</li>
              <li data-filter=".filter-job-1">Průchozí výfuk na Škoda Superb 3.6 VR6</li>
              <li data-filter=".filter-job-2">Kompletní čištění, oživení plastů a polep kapot Yamaha XT125R</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          <!-- Highlight of projects-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/1.jpeg' %}" class="img-fluid" alt="HYOSUNG GT125R Limited edition">
            <div class="portfolio-info">
              <h4>HYOSUNG GT125R Limited edition</h4>
              <p>2019</p>
              <a href="{% static 'assets/img/portfolio/highlight/1.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/2.jpeg' %}" class="img-fluid" alt="HYOSUNG GT125R Limited edition">
            <div class="portfolio-info">
              <h4>HYOSUNG GT125R Limited edition</h4>
              <p>2019</p>
              <a href="{% static 'assets/img/portfolio/highlight/2.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/3.jpeg' %}" class="img-fluid" alt="HYOSUNG GT125R Limited edition">
            <div class="portfolio-info">
              <h4>HYOSUNG GT125R Limited edition</h4>
              <p>2019</p>
              <a href="{% static 'assets/img/portfolio/highlight/3.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <!-- SUZUKI -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/4.jpeg' %}" class="img-fluid" alt="Suzuki GSXR 1000 K3 Yoshimura">
            <div class="portfolio-info">
              <h4>Suzuki GSXR 1000 K3 Yoshimura</h4>
              <p>2022</p>
              <a href="{% static 'assets/img/portfolio/highlight/4.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/5.jpeg' %}" class="img-fluid" alt="Suzuki GSXR 1000 K3 Yoshimura">
            <div class="portfolio-info">
              <h4>Suzuki GSXR 1000 K3 Yoshimura</h4>
              <p>2022</p>
              <a href="{% static 'assets/img/portfolio/highlight/5.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/6.jpeg' %}" class="img-fluid" alt="Suzuki GSXR 1000 K3 Yoshimura">
            <div class="portfolio-info">
              <h4>Suzuki GSXR 1000 K3 Yoshimura</h4>
              <p>2022</p>
              <a href="{% static 'assets/img/portfolio/highlight/6.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/7.jpeg' %}" class="img-fluid" alt="Suzuki GSXR 1000 K3 Yoshimura">
            <div class="portfolio-info">
              <h4>Suzuki GSXR 1000 K3 Yoshimura</h4>
              <p>2022</p>
              <a href="{% static 'assets/img/portfolio/highlight/7.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          <!-- Chrysler -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/8.jpeg' %}" class="img-fluid" alt="Chrysler Stratus Cabrio 2.0i">
            <div class="portfolio-info">
              <h4>Chrysler Stratus Cabrio 2.0i</h4>
              <p>2021</p>
              <a href="{% static 'assets/img/portfolio/highlight/8.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/9.jpeg' %}" class="img-fluid" alt="Chrysler Stratus Cabrio 2.0i">
            <div class="portfolio-info">
              <h4>Chrysler Stratus Cabrio 2.0i</h4>
              <p>2021</p>
              <a href="{% static 'assets/img/portfolio/highlight/9.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/10.jpeg' %}" class="img-fluid" alt="Chrysler Stratus Cabrio 2.0i">
            <div class="portfolio-info">
              <h4>Chrysler Stratus Cabrio 2.0i</h4>
              <p>2021</p>
              <a href="{% static 'assets/img/portfolio/highlight/10.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <!-- Audi -->

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/11.jpeg' %}" class="img-fluid" alt="AUDI A8 D3 3.7i">
            <div class="portfolio-info">
              <h4>AUDI A8 D3 3.7i</h4>
              <p>2022 - 2024</p>
              <a href="{% static 'assets/img/portfolio/highlight/11.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/12.jpeg' %}" class="img-fluid" alt="AUDI A8 D3 3.7i">
            <div class="portfolio-info">
              <h4>AUDI A8 D3 3.7i</h4>
              <p>2022 - 2024</p>
              <a href="{% static 'assets/img/portfolio/highlight/12.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/13.jpeg' %}" class="img-fluid" alt="AUDI A8 D3 3.7i">
            <div class="portfolio-info">
              <h4>AUDI A8 D3 3.7i</h4>
              <p>2022 - 2024</p>
              <a href="{% static 'assets/img/portfolio/highlight/13.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <!-- Job 1-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/14.jpeg' %}" class="img-fluid" alt="AUDI A8 D3 3.7i">
            <div class="portfolio-info">
              <h4>Průchozí výfuk na Škoda Superb 3.6 VR6</h4>
              <p>Výfuková úprava</p>
              <a href="{% static 'assets/img/portfolio/highlight/14.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <!-- Job 2-->
          <div class="col-lg-4 col-md-6 portfolio-item filter-highlight">
            <img src="{% static 'assets/img/portfolio/highlight/15.jpeg' %}" class="img-fluid" alt="AUDI A8 D3 3.7i">
            <div class="portfolio-info">
              <h4>Kompletní čištění, oživení plastů a polep kapot Yamaha XT125R</h4>
              <p>Detailing</p>
              <a href="{% static 'assets/img/portfolio/highlight/15.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <!-- <=== END OF HIGHLIGHT ===> -->



          <!-- Project 1: HYOSUNG GT125R Limited edition (2019) -->
          <!-- 18 images -->
          {% for image in project_1_images %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-project-1">
            <img src="{% static image %}" class="img-fluid" alt="HYOSUNG GT125R Limited edition">
            <div class="portfolio-info">
              <h4>HYOSUNG GT125R Limited edition</h4>
              <p>2019</p>
              <a href="{% static image %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HYOSUNG GT125R Limited edition"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          {% endfor %}

          <!-- Project 2: Chrysler Stratus Cabrio 2.0i (2021) -->
          <!-- 46 images -->
          {% for image in project_2_images %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-project-2">
            <img src="{% static image %}" class="img-fluid" alt="Chrysler Stratus Cabrio">
            <div class="portfolio-info">
              <h4>Chrysler Stratus Cabrio 2.0i</h4>
              <p>2021</p>
              <a href="{% static image %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Chrysler Stratus Cabrio"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          {% endfor %}

          <!-- Project 3: Suzuki GSXR 1000 K3 Yoshimura (2022) -->
          <!-- 163 images -->
          {% for image in project_3_images %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-project-3">
            <img src="{% static image %}" class="img-fluid" alt="Suzuki GSXR 1000 K3 Yoshimura">
            <div class="portfolio-info">
              <h4>Suzuki GSXR 1000 K3 Yoshimura</h4>
              <p>2022</p>
              <a href="{% static image %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Suzuki GSXR 1000 K3 Yoshimura"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          {% endfor %}

          <!-- Project 4: AUDI A8 D3 3.7i (2022-2024) -->
          <!-- 110 images -->
          {% for image in project_4_images %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-project-4">
            <img src="{% static image %}" class="img-fluid" alt="AUDI A8 D3 3.7i">
            <div class="portfolio-info">
              <h4>AUDI A8 D3 3.7i</h4>
              <p>2022-2024</p>
              <a href="{% static image %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="AUDI A8 D3 3.7i"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          {% endfor %}

          <!-- Job 1: Průchozí výfuk na Škoda Superb 3.6 VR6 -->
          <!-- 10 images -->
          {% for image in job_1_images %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-job-1">
            <img src="{% static image %}" class="img-fluid" alt="Průchozí výfuk na Škoda Superb {{ i }}">
            <div class="portfolio-info">
              <h4>Průchozí výfuk na Škoda Superb 3.6 VR6</h4>
              <p>Výfuková úprava</p>
              <a href="{% static image %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Průchozí výfuk na Škoda Superb"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          {% endfor %}

          <!-- Job 2: Kompletní čištění, oživení plastů a polep kapot Yamaha XT125R -->
          <!-- 24 images -->
          {% for image in job_2_images %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-job-2">
            <img src="{% static image %}" class="img-fluid" alt="Kompletní čištění Yamaha XT125R {{ i }}">
            <div class="portfolio-info">
              <h4>Kompletní čištění, oživení plastů a polep kapot Yamaha XT125R</h4>
              <p>Detailing</p>
              <a href="{% static image %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Yamaha XT125R"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Často kladené dotazy</h2>
          <p>Máte otázky ohledně našich služeb nebo procesu opravy? Podívejte se na odpovědi na nejčastější dotazy našich zákazníků.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Jaké služby nabízíte pro auta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Nabízíme širokou škálu služeb, včetně polepů plastů interiéru, servisních oprav, výměny provozních kapalin, oživení plastů a gum, menších oprav laku, hloubkového čištění interiérů a dalších. Kontaktujte nás pro více informací.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Co všechno zahrnuje servis motocyklů? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Naše služby pro motocykly zahrnují běžné opravy a servis, opravy plastů a laku, polepy kapot, čištění a ochranu laku, sezónní a posezónní servis, montáž quickshifterů, opravy elektroinstalace, výměnu kapalin a renovaci starých nebo bouraných motocyklů.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Jak dlouho trvá oprava? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Doba opravy závisí na typu a rozsahu práce. Menší opravy mohou trvat několik hodin, zatímco komplexnější projekty mohou zabrat několik dní. Vždy se snažíme poskytnout realistický časový odhad na základě vaší situace.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Jaké jsou vaše ceny za služby? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ceny našich služeb se liší v závislosti na typu a rozsahu práce. Pro konkrétní nabídku a cenovou kalkulaci nás prosím kontaktujte. Rádi vám poskytneme detailní informace na základě vašich požadavků.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Mohu si objednat službu online? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ano, můžete si objednat naše služby online. Stačí vyplnit objednávkový formulář na našem webu nebo nás kontaktovat telefonicky či emailem. Potvrdíme vám termín a další detaily.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Nabízíte mobilní služby, nebo musím navštívit vaši dílnu? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ano, nabízíme jak mobilní služby, tak i služby v naší fyzické dílně. Můžete si vybrat, zda chcete, aby naše služby byly provedeny na místě u vás, nebo se zastavíte v naší dílně. Kontaktujte nás pro více informací a domluvení konkrétního řešení.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Kontakt</h2>
          <p>Máte dotazy nebo potřebujete více informací? Kontaktujte nás a rádi vám pomůžeme. Jsme k dispozici pro odpovědi na vaše otázky a pro poskytování potřebné podpory. Naším cílem je zajistit vaši spokojenost a poskytnout vám nejlepší služby.</p>
        </div>        

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Oblasti, které momentálně pokrýváme</h3>
                  <p>Praha a okolí <br> Liberec a okolí</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@wade-performance.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Zavolejte nám</h3>
                  <p>+420 696 969 696</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Wade Performance</h3>
            <p>
              Oblasti pokrytí: <br>
              Praha a okolí,
              Liberec a okolí <br><br>
              <strong>Telefon:</strong> +420 696 969 696<br>
              <strong>Email:</strong> <br> info@wade-performance.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Užitečné odkazy</h4>
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Hlavní stránka</a></li>
              <li><a class="nav-link scrollto" href="#about">O nás</a></li>
              <li><a class="nav-link scrollto" href="#services">Služby</a></li>
              <li><a class="nav-link scrollto " href="#portfolio">Projekty</a></li>
              <li><a class="nav-link scrollto" href="#contact">Kontaktujte nás</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Wade Performance</span></strong>. Všechna práva vyhrazena
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>